.logo-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 150px auto;
    object-position: center;
    background: transparent;
    user-select: none;
}

.logo-row>img {
    width: 100%;
    filter: grayscale(100%)
}