# Will have compiled files and executables
/target

# Trunk assets
/bin
/dist

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock

# Others
.gitignore
*.md